.page_services {
    header.header {
        .burger {
            color: $lightBlue;
        }

        .phone__icon {
            color: $lightBlue;
        }
    }

    .content {
        &__header {
            &-name {
                &__text {
                    max-width: 29%;
                }
            }
        }
    }
}

.services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.3125em -0.875em -0.3125em;

    &-item {
        width: calc(50% - 0.625em);
        display: flex;
        flex-wrap: nowrap;
        margin: 0 0.3125em 1.875em 0.3125em;
        background-color: $bgBlue;
        border-radius: 0.375em;

        &__column-left {
            width: 46.51%;
            line-height: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            border-radius: 0.375em 0 0 0.375em;
        }

        &__column-right {
            width: 53.49%;
            color: $white;
            padding: 2em 1.875em 2.375em 1.6875em;

            &__top {
                flex: 1 0 0;
            }

            &__bottom {
                flex: 0 0 auto;
                padding: 2.95em 0 0 0;
            }

            &__header {
                width: 68%;
                font-weight: 700;
                font-size: 1.625em;
                line-height: 112%;
            }

            &__text {
                padding: 1.4em 0 0 0;
                font-size: 1em;
                line-height: 137%;
            }

            .buttons {
                .btn--services {
                    font-size: 1em;
                    padding: 0.5em 0.8em 0.4em 0.8em;
                    margin: 0 0.25em 0 0;
                    cursor: pointer;

                }
            }
        }
    }
}

@media (max-width: 980px) {

    .page_services {
        .content {
            &__header {
                &-name {
                    &__text {
                        max-width: none;
                    }
                }
            }
        }
    }

    .services {
        display: block;

        &-item {
            flex-direction: column;
            width: 100%;
            margin-bottom: 0.625em;

            &__column-left {
                display: block;
                width: 100%;
                height: 10.25em;
                border-radius: 0.375em 0.375em 0 0;
            }

            &__column-right {
                display: block;
                width: 100%;
                padding: 1.8125em 2.25em 2em 2.25em;

                &__bottom {
                    padding-top: 2em;
                }

                &__header {
                    font-size: 1.25em;
                    width: auto;
                }

                &__text {
                    font-size: 1em;
                    line-height: 132%;
                    padding-top: 0.7em;
                }
            }
        }
    }
}

