.page_blog {
    header.header {
        .navigation .nav__link {
            color: $white;
        }

        .burger {
            color: $white;
        }

        .phone  {
            .btn--text-white {
                color: $white;
            }

            .btn--white {
                border-color: $white;
            }

            &__icon {
                color: $yellow;
            }
        }
    }

    .content {
        &__header {
            margin-bottom: 16.5em;
            &-name {
                color: $white !important;
            }
        }
    }
}

.articles {
    font-size: $baseFontSize;

    .post{
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 5.8em;

        .post__left {
            margin-right: 3.9em;
            flex: 0 0 auto;
        }

        .post__right {
            border-top: 1px solid rgba(16, 19, 71, 0.5);
            flex: 1 0 0;

            .post__text {
                display: flex;
                flex-direction: column;

                .top__row-post {
                    display: flex;
                    align-items: center;
                    padding-top: 2.4em;
                    margin-bottom: 1.5em;

                    .post__text-name {
                        margin: 0 0 0;
                        font-weight: 700;
                        font-size: 2em;
                        color: $bgBlue;
                        flex-basis: 76.06%;
                        flex-shrink: 0;
                    }

                    .post__text-date {
                        font-size: 1.6em;
                        color: $bgBlue;
                        opacity: 0.9;
                        flex-basis: 15.6%;
                        // flex-shrink: 1;
                    }

                    .post__text-view {
                        display: flex;
                        justify-content: right;
                        align-items: center;
                        background-image: url("../../img/icon-eye.png");
                        background-position: left center;
                        background-repeat: no-repeat;
                        background-size: 2em;
                        // flex-shrink: 1;

                        .views {
                            padding-left: 1.687em;
                            font-size: 1.6em;
                            color: $bgBlue;
                            opacity: 0.9;
                        }
                    }
                }

                .description * {
                    font-size: 1.6em;
                    line-height: 1.5;
                    letter-spacing: 0.01em;
                    margin-bottom: 1.512em;
                }

                .continuation a {
                    font-weight: 700;
                    font-size: 1.6em;
                    color: $bgBlue;
                }

                .continuation a:hover {
                    text-decoration: underline;
                    text-decoration-color: $yellow;
                    color: $yellow;
                }
            }
        }
    }

}

.navigation__articles {
    font-size: $baseFontSize;
    padding-top: 1.9em;

    .btn__all-articles {

        .all__articles {
            width: 100%;
            border: 0.033em solid $black;
            font-size: 2.2em;
            padding: 0.86em 0 0.86em 0;
            background-color: $white;
            margin-bottom: 2.283em;
            cursor: pointer;
        }

        .all__articles:hover {
            border: 0.033em solid $yellow;
            color: $yellow
        }
    }

    .page-numbers {
        margin-bottom: 8.8em;
        ol {
            list-style-type: none;
            display: flex;
            justify-content: center;
            gap: 2.3em;
        }

        a {
            font-size: 2em;
            line-height: 132%;
            text-align: center;
            color: $black;

            &:hover {
                color: $orange;
            }

        }

        .active {
            color: $orange;
        }
    }
}

.search {
    font-size: $baseFontSize;

    .search__block {
        .search__name {
            font-weight: 700;
            font-size: 3em;
            text-align: center;
            margin-bottom: 1.3em;
        }

        .search__list ul  {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;

            li {
                margin-right: 2.5em;
                margin-bottom: 1.9em;
                padding: 0;
                &::before {
                    display: none;
                }
            }
        }

        .search__list a {
            font-size: 1.6em;
            color: $black;
        }

        .search__list a:hover {
            color: $orange;
            text-decoration: underline;
            text-decoration-color: $orange;
        }

    }
}

@media (max-width: 1090px) {
    .articles {
        .post {

        }
    }
}

@media (max-width: 700px) {
    .articles {
        .post {
            flex-wrap: wrap;
            flex-direction: column;

            .post__left {
                margin: 0;

                img {
                    width: 100%;
                }
            }
        }
    }
}