.page_doctors header.header {
    .burger {
        color: $lightBlue;
    }

    .phone__icon {
        color: $lightBlue;
    }
}

.doctor__cards {
    font-size: $baseFontSize;
    margin-bottom: 5em;

    &-item {
        display: flex;
        opacity: 0.5;
    }

    &-column {
        &__left {
            display: flex;
            flex-direction: column;
            flex: 0 0 31%;
            max-width: 31%;
            background-color: $bgBlue;
            border-radius: 0.3em 0 0 0.3em;
            font-size: 16px;

            img {
                border-radius: 0.3em 0 0 0;
            }

            &-text {
                display: flex;
                flex-direction: column;
                padding: 1.625em 2.8em 2.3em 2.8em;

                &__name {
                    font-weight: 900;
                    font-size: 1.625em;
                    line-height: 104%;
                    color: $white;
                    margin: 0 0 0.23em 0;
                }

                &__location {
                    font-weight: 700;
                    font-size: 1.25em;
                    line-height: 127%;
                    color: $yellow;
                    margin: 0 0 0.75em 0;
                }

                &__specialization {
                    font-size: 1.25em;
                    line-height: 127%;
                    color: $yellow;
                }
            }
        }

        &__right {
            flex: 1 0 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 2.8em 2.75em 2.8em 2.75em;
            background-color: #F1F1F1;
            border-radius: 0 0.3em 0.3em 0;
            font-size: 16px;

            &-top {
                flex: 1 0 0;
            }

            &-bottom {
                flex: 0 0 auto;
                padding: 3em 0 0 0;
            }
        }
    }

    &-content {
        * {
            line-height: 134%;
        }

        h2 {
            font-weight: 700;
            font-size: 1.4em;
            line-height: normal;
            color: $bgBlue;
            margin-bottom: 0.4em;
        }

        &-columns {
            display: flex;
            uL {
                li {
                    margin-bottom: 0.3em;
                }
            }
        }

        &-left {
            flex: 0 0 45%;
            max-width: 45%;
            padding-right: 2em;
            ul {
                margin-left: -1em;
                margin-bottom: 0;
                li {
                    margin-top: -1px;
                    &::marker {
                        color: $lightBlue;
                    }
                }
            }
        }

        &-right {
            flex: 1 0 0;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }

        &-button {
            .btn {
                font-weight: 700;
                font-size: 1.25em;
                color: $yellow;
                background-color: $bgBlue;
                padding: 0.75em 1.7em 0.85em 1.6em;
                box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.12), inset -1px 2px 8px rgba(0, 0, 0, 0.12);
            }
        }
    }

    &-specialization {
        line-height: 127%;
        padding: 2.5em 0 0 0;
    }

    &-master-classes {
        display: flex;
        padding: 2.5em 0 0 0;

        &__header {
            font-weight: 700;
            font-size: 1.25em;
            width: 9.8%;
            margin: 0 1.1em 0 0;
        }

        &__description {
            border-left: 1px solid $black;
            padding: 0 0 0 1.112em;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            li {
                margin: 0 0 0.81em 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-pagination {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 -0.3125em 0 -0.3125em;
        position: relative !important;
        bottom: auto !important;
        border-radius: 0;
        width: auto !important;
        user-select: none;

        &__item {
            cursor: pointer;
            opacity: 0.5;
            padding: 0 0.3125em 0 0.3125em;
            border-radius: 0.2em;
            margin: 0 !important;
            width: auto !important;
            height: auto !important;
            background-color: transparent !important;

            img {
                border-radius: 0.2em;
            }
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    &-arrows {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -15px;
        width: 100%;
    }

    .swiper {
        margin: 0 0 1.87em 0;
        position: relative;
    }

    .swiper-slide {
        max-width: $containerMaxWidth;
        flex: 0 0 $containerMaxWidth;
        padding: 0 $containerPaddingLeft 0 $containerPaddingRight;
    }

    .swiper-wrapper {
        align-items: stretch;
    }

    .swiper-slide-active {
        opacity: 1;
    }

    .swiper-button-prev, .swiper-button-next {
        width: 30px !important;
        height: 30px !important;
        margin-top: -15px !important;

        &::after {
            display: none;
        }

        svg {
            width: 30px !important;
            height: 30px !important;
        }
    }

    .swiper-button-prev {
        left: -10% !important;
    }

    .swiper-button-next {
        right: -10% !important;
    }
}

@media (max-width: 1320px) {
    .doctor__cards {
        .swiper-slide {
            max-width: none;
            flex: none;
        }

    }
}

@media (max-width: 980px) {
    .doctor__cards {
        &-item {
            display: block;
        }
        &-column {
            &__left {
                max-width: none;
                border-radius: 0.3em 0.3em 0 0;
                padding: 1.4em 1.3em;

                &-text {
                    padding: 0;
                }

                img {
                    display: none;
                }
            }

            &__right {
                padding: 1.4em 1.3em;

                &-bottom {
                    padding-top: 1.5em;
                    text-align: center;

                    .btn {
                        font-size: 1em;
                    }
                }
            }
        }

        &-content {
            &-columns {
                display: block;
            }

            &-left {
                max-width: none;
                padding-right: 0;
            }

            &-right {
                padding-top: 1.5em;
            }
        }

        &-specialization {
            padding-top: 1.5em;
        }

        &-master-classes {
            display: block;
            padding-top: 1.5em;

            &__header {
                width: auto;
                margin: 0 0 0.5em 0;
            }

            &__description {
                padding-left: 0;
                border: 0;
            }
        }
    }

}