.page_home header.header {
    .navigation .nav__link {
        color: $white;
    }

    .burger {
        color: $white;
    }

    .phone  {
        .btn--text-white {
            color: $white;
        }

        .btn--white {
            border-color: $white;
        }

        &__icon {
            color: $yellow;
        }
    }
}

.navigation .nav__menu .nav__elem .nav-submenu_darkBlue .nav-submenu__list {
    background-color: $darkBlue !important;
}

.navigation .nav__menu .nav__elem .nav-submenu_darkBlue .nav-submenu__list .nav-submenu__list-item a {
    color: $white !important;
}
