.section-map {
    margin: 0 0 11.6em 0;

    &__column {
        &-left {
            flex: 1 0 0;
        }
        &-right {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }
}
