section.promo {
    .home-slider {
        height: 48.75em;
        margin-bottom: -2em;

        .swiper {
            height: inherit;
        }

        .swiper-wrapper {
            height: inherit;
        }

        .swiper-slide {
            height: inherit;
            width: 100%;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .slide__inner {
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 11.2em $containerPaddingRight 0 $containerPaddingLeft;
        }

        .slide__title {
            text-align: center;
            margin-left: -0.625em;

            .top {
                color: $yellow;
                font-size: 3.5em;
                line-height: 91%;
                font-weight: 900;
                letter-spacing: 0.03em;
            }

            .bottom {
                color: $yellow;
                font-size: 6em;
                line-height: 91%;
                font-weight: 900;
                margin-bottom: 0.63em;
                letter-spacing: 0.03em;
            }

            .slogan {
                color: $white;
                font-size: 1.5625em;
                text-align: center;
                margin: 0 auto 4em;
                line-height: 124%;
                letter-spacing: 0.05em;
                font-weight: 700;
            }
        }

        .slide__link {
            font-size: 1.625em;
            font-weight: 700;
            padding: 0.65em 2.3em 0.675em;
            background-color: rgba(16, 19, 71, 0.65);
        }
    }
}

@media(max-width: 1730px) {
    section.promo {
        .home-slider {
            margin-bottom: -2.34375em;
        }
    }
}

@media(max-width: 980px) {
    section.promo {
        .home-slider {
            height: 37.5625em;
            margin-bottom: -3.7em;

            .slide__inner {
                padding-top: 8.3125em;
                display: block;
            }

            .slide__title {
                .top {
                    font-size: 1.5em;
                    line-height: normal;
                    letter-spacing: 0.01em;
                }
                .bottom {
                    font-size: 3em;
                    line-height: normal;
                    letter-spacing: 0.01em;
                }

                .slogan {
                    font-size: 1.25em;
                    line-height: 132%;
                    letter-spacing: 0.01em;
                }
            }

            .slide__link {
                font-size: 1.5em;
                padding: .6em 0.625em .625em;
                text-align: center;
                display: block;
                max-width: 320px;
                margin: 0 auto;
            }
        }
    }
}

@media(max-width: 420px) {
    section.promo {
        .home-slider {
            .slide__link {
                max-width: none;
            }
        }
    }
}