.our-services {
    padding: 1.5em 0 4.375em;
    .container {
        .section-title {
            margin-bottom: 0.1875em;
        }
        .section-subtitle {
            color: $bgBlue;
            text-align: center;
            font-size: 1.25em;
            line-height: 127%;
            letter-spacing: 0.025em;
            margin-bottom: 3.5em;
        }

        .services-list {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 -0.3125em -2.25em -0.3125em;

            .service {
                width: 25%;
                padding: 0 0.3125em;
                margin-bottom: 2.5em;
                display: flex;

                .service__inner {
                    align-items: stretch;
                    transition: all 0.3s linear;
                    background-color: $lightGray;
                    border-radius: 0.375em;
                    display: flex;
                    flex-direction: column;

                    .service__photo {
                        background-size: cover;
                        background-position: top center;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 10.125em;
                        border-radius: 0.375em 0.375em 0 0;
                        flex: 0 0 auto;
                    }
                    .service__info {
                        padding: 1.6em 1.2em;
                        display: flex;
                        flex-direction: column;
                        flex: 1 0 0;

                        &-inner {
                            flex: 1 0 0;
                        }

                        .service__title {
                            font-size: 1.625em;
                            font-weight: 700;
                            margin-bottom: 0.8em;
                            line-height: 112%;
                            transition: all 0.3s linear;
                            color: $lightBlue;
                        }

                        .service__description {
                            font-size: 1em;
                            line-height: 137%;
                            margin-bottom: 1.8em;
                            transition: all 0.3s linear;
                        }

                        .service__button {
                            flex: 0 0 auto;
                        }

                        .btn {
                            padding: 0.5em 1.125em 0.4375em;
                            font-size: 1em;
                            &:hover {
                                color: $yellow;
                                border-color: $yellow;
                            }
                        }
                    }

                    &:hover {
                        background-color: $bgBlue;

                        .service__info {
                            .service__title {
                                color: $white;
                            }
                            .service__description {
                                color: $white;
                            }
                            .btn {
                                color: $yellow;
                                border-color: $yellow;
                            }
                        }
                    }
                }
            }
            .service.swiper-slide {
                height: auto;
            }
        }

        .services-list.swiper-wrapper {
            width: auto;
        }

        .swiper-initialized {
            margin-left: -$containerPaddingLeft;
            margin-right: -$containerPaddingRight;
            padding-left: $containerPaddingLeft;
            padding-right: $containerPaddingRight;

            .services-list {
                margin-left: 0;
                margin-right: 0;

                .service {
                    padding-left: 0;
                    padding-right: 0;
                    height: auto;
                }
            }
        }

        .swiper-initialized .services-list.swiper-wrapper {
            flex-wrap: nowrap;
            width: 100%;
        }
    }
}

@media(max-width: 1280px) {
    .our-services {
        .container {
            .services-list {
                .service {
                    width: 50%;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .our-services {
        padding-bottom: 3.125em;

        .container {
            .section-title {
                margin-bottom: 0.25em;
            }

            .section-subtitle {
                font-size: 1em;
                line-height: 127%;
                margin-bottom: 2.0625em;
            }

            .services-list {
                .service {
                    .service__inner {
                        background-color: $bgBlue;

                        .service__info {
                            .service__title {
                                font-size: 1.25em;
                                line-height: 112%;
                                color: $white;
                                margin-bottom: 1em;
                            }
                            .service__description {
                                line-height: 132%;
                                color: $white;
                            }
                            .btn {
                                color: $yellow;
                                border-color: $yellow;
                                padding: 0.57em 2.8em;
                            }
                        }
                    }
                }
            }

        }
    }
}
