section.blog {
    background-color: $lightBlue100;
    padding: 5em 0 6.2em 0;
    .section-title {
        margin-bottom: 0.9em;
    }
    .posts-list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: -1.8em;

        .swiper-slide {
            width: 32.5%;
            margin-bottom: 1.8em;
        }

        .post {
            padding: 1.8rem 2.6em 6.7em 2.6em;
            border-radius: 0.6em;
            background-color: $bgBlue;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            display: block;

            &__title {
                font-size: 3.6em;
                line-height: 112%;
                color: $white;
                font-weight: 900;
                display: block;
            }
            &__description {
                color: $white;
                display: block;
                font-size: 1.6em;
                line-height: 132%;
                padding: 0.4em 0 0.2em 0;
                height: 2.8em;
                overflow: hidden;
            }
            &__view {
                &-count {
                    color: $white;
                    font-size: 1.6em;
                    line-height: 132%;
                    position: absolute;
                    left: 2em;
                    bottom: 1.1em;
                    display: flex;
                    align-items: center;
                }
                &-icon {
                    opacity: 0.8;
                    path {
                        fill: $white;
                    }
                }
                &-text {
                    padding: 0 0 0 0.7em;
                }
            }
            &__date {
                color: $white;
                font-size: 1.6em;
                line-height: 132%;
                display: block;
                position: absolute;
                right: 2em;
                bottom: 1.1em;
            }
        }
    }
    .blog__button {
        padding: 5.3em 0 0 0;
        text-align: center;

        .btn--large {
            padding-left: 1.8em;
            padding-right: 1.8em;
        }
    }

    .swiper-initialized {
        margin-left: -$containerPaddingLeft;
        margin-right: -$containerPaddingRight;

        .swiper-wrapper {
            flex-wrap: nowrap;
        }

        .post {
            border-radius: 0;
        }
    }
}

@media(max-width: 980px) {
    section.blog {
        .posts-list {
            .swiper-slide {
                width: 49.5%;
            }
        }
    }
}

@media(max-width: 600px) {
    section.blog {
        padding-top: 3.3em;
        padding-bottom: 3.5em;

        .section-title {
            letter-spacing: 0.01em;
            margin-bottom: 0.7em;
        }

        .posts-list {
            margin-bottom: -0.5em;

            .swiper-slide {
                margin-bottom: 0.5em;
                width: 100%;
            }

            .post {
                &__view {
                    left: 1.8em;
                    &-count {
                        font-size: 1.4em;
                    }
                }
                &__date {
                    font-size: 1.4em;
                    right: 1.8em;
                }
            }
        }
        .blog__button {
            padding-top: 3.3em;
        }
    }
}