.message-doctor {
    background: url(../img/message-doctor-bg.png) center top no-repeat;
    height: 308px;
    overflow: hidden;
    margin-bottom: -$contentPaddingBottom;
    padding-top: 15em;

    .row {
        align-items: center;
    }
    &__column {
        &-left {
            width: 39%;
        }
        &-right {
            padding: 0 0 0 5em;
            flex-basis: 0;
            flex-grow: 1;
            min-width: 0;
            max-width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-content: stretch;

            .btn {
                flex: 1 1 0;
                &:first-child {
                    margin-right: 10px;
                }
                &:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
    &__title {
        font-size: 3.6em;
        font-weight: 900;
        line-height: normal;
        color: $lightBlue;
        margin: 0 0 0.6em 0;
    }
    &__text {
        font-size: 1.6em;
        line-height: 140%;
    }
}

@media(max-width: 1300px) {
    .message-doctor {
        padding-top: 10em;

        &__column {
            &-left {
                width: 30%;
            }
        }

        &__title {
            font-size: 2.2em;
        }

        .btn {
            font-size: 2.4em;
        }
    }
}

@media(max-width: 1100px) {
    .message-doctor {
        &__title {
            font-size: 2em;
        }

        .btn {
            font-size: 2.1em;
        }
    }
}

@media(max-width: 950px) {
    .message-doctor {
        padding-top: 7em;

        .row {
            display: block;
        }

        &__column {
            &-left {
                width: 100%;
                margin-bottom: 3em;
            }
            &-right {
                display: block;
                padding-left: 0;
            }
        }
    }
}

@media(max-width: 700px) {
    .message-doctor {
        height: 345px;
        padding-top: 4.3em;

        &__title {
            font-size: 2em;
        }

        .btn {
            font-size: 2em;
            width: 100%;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
            flex: none;
            min-height: 51px;

            &:first-child {
                margin-bottom: 0.7em;
                margin-right: 0;
            }
            &:last-child {
                margin-left: 0;
            }
        }
    }
}
