.our-services {
    padding: 2.4em 0 7em;
    .container {
        .section-title {
            margin-bottom: 0.3em;
        }
        .section-subtitle {
            color: $bgBlue;
            text-align: center;
            font-size: 2em;
            line-height: 1.25;
            letter-spacing: 0.025em;
            margin-bottom: 3.4em;
        }

        .services-list {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 -0.5em -3.6em -0.5em;
            .service {
                width: 25%;
                padding: 0 0.5em;
                margin-bottom: 3.6em;
                display: flex;

                .service__inner {
                    align-items: stretch;
                    transition: all 0.3s linear;
                    background-color: $lightGray;

                    .service__photo {
                        background-size: cover;
                        background-position: top center;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 16.2em;
                    }
                    .service__info {
                        padding: 3em 2em;
                        .service__title {
                            font-size: 2.6em;
                            font-weight: 700;
                            margin-bottom: 0.7em;
                            line-height: 112%;
                            transition: all 0.3s linear;
                            color: $lightBlue;
                        }
                        .service__description {
                            font-size: 1.6em;
                            line-height: 137%;
                            margin-bottom: 2.5em;
                            transition: all 0.3s linear;
                        }
                        .btn {
                            padding: 0.8em 1.8em 0.7em;
                            font-size: 1.6em;
                            &:hover {
                                color: $yellow;
                                border-color: $yellow;
                            }
                        }
                    }

                    &:hover {
                        background-color: $darkBlue;

                        .service__info {
                            .service__title {
                                color: $white;
                            }
                            .service__description {
                                color: $white;
                            }
                            .btn {
                                color: $yellow;
                                border-color: $yellow;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1280px) {
    .our-services {
        .container {
            .services-list {
                .service {
                    width: 50%;
                }
            }
        }
    }
}
