.section-reviews {
    margin: 0 0 7.0625em 0;
    .section-title {
        color: $lightBlue;
        margin-bottom: 0.45em;
    }
}

@media(max-width: 700px) {
    .section-reviews {
        margin-bottom: 5.8125em;
        .section-title {
            margin-bottom: 0.2em;
        }
    }
}