.clinic-infrastructure {
    background: url(../img/clinic-infra-bg.png) center top no-repeat;
    padding: 4.375em 0 0 0;
    height: 51.25em;
    margin: 0 0 3.875em 0;

    .section-title {
        color: $yellow;
        line-height: 100%;
        text-align: left;
        margin: 0 0 0.9em 0;
    }

    &__content {
        margin: 0 auto;
    }

    &__list {
        font-size: 1.625em;
        font-weight: 700;
        color: $white;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &-item {
            line-height: 132%;
            position: relative;
            padding: 0 0 1.1em 0.85em;

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 0.3em;
                height: 0.3em;
                background: $yellow;
                border-radius: 50%;
                top: 0.4em;
                left: 0;
            }
        }
    }

    &__button {
        padding: 2.6em 0 0 0;
        .btn--large {
            padding-left: 1.95em;
            padding-right: 1.95em;
        }
    }
}

@media(max-width: 700px) {
    .clinic-infrastructure {
        background-position: -130px top;
        background-size: cover;
        height: 36.2em;
        padding-top: 3em;
        margin-bottom: 2.8em;

        .section-title {
            font-size: 2.25em;
            line-height: 112%;
            margin-bottom: 1.2em;
        }

        &__content {
            max-width: 300px;
        }

        &__list {
            font-size: 1.25em;
            &-item {
                padding-bottom: 0.8em;
            }
        }

        &__button {
            padding-top: 2.4em;
            .btn {
                font-size: 1.25em;
                padding-left: 2.1em;
                padding-right: 2.1em;
            }
        }
    }
}