.specialists {
    padding: 0 0 5.375em 0;
    .container {
        max-width: none;
    }
    .section-title {
        margin-bottom: 1.2em;
        letter-spacing: 0.01em;
    }

    .specialists-slider {
        margin: 0 -0.3125em;

        .specialist {
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            background-color: $lightGray;
            border-radius: 0.375em 0.375em 00.375em 0.375em;
            flex: 1 0 0;
        }

        .specialist__description {
            flex: 1 0 0;
            padding: 1.25em 0.8125em 0 0.8125em;
        }

        .specialist__photo {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            border-radius: 0.375em 0.375em 0 0;

            .photo__img {
                width: 100%;
                height: auto;
                border-radius: 0.375em 0.375em 0 0;
            }
        }

        .specialist__name {
            padding: 0 0 0.85em;
            font-size: 1.625em;
            text-align: center;
            font-weight: 900;
            line-height: 112%;
            letter-spacing: 0.025em;
            display: block;
            color: $lightBlue;
        }
        .specialist__geo {
            text-align: center;
            display: block;
            font-size: 1.25em;
            font-weight: 700;
            margin-bottom: 0.25em;
            line-height: 100%;
        }
        .specialist__position {
            font-size: 1em;
            text-align: center;
            display: block;
            line-height: 127%;
            max-width: 80%;
            margin: 0 auto;
        }
        .specialist__link {
            padding: 1.42em 0.8125em 0.9375em 0.8125em;
            text-decoration: none;
            display: block;
            text-align: center;
            .btn {
                font-size: 1em;
                padding: 0.5em 1.25em;
            }
        }

        .swiper {
            margin-bottom: -1.5em;
        }
        .swiper-wrapper {
            flex-wrap: wrap;
        }
        .swiper-slide {
            height: inherit;
            flex: 0 0 20%;
            max-width: 20%;
            padding: 0 0.75em;
            margin-bottom: 1.5em;
        }

        .swiper-initialized {
            margin-left: -$containerPaddingLeft;
            margin-right: -$containerPaddingRight;
            padding-left: $containerPaddingLeft;
            padding-right: $containerPaddingRight;

            .swiper-wrapper {
                flex-wrap: nowrap;
            }
            .swiper-slide {
                flex: none !important;
                max-width: none;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

@media(max-width: 1400px) {
    .specialists {
        .specialists-slider {
            .swiper-slide {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
    }
}

@media(max-width: 1180px) {
    .specialists {
        .specialists-slider {
            .swiper-slide {
                flex: 0 0 33.3%;
                max-width: 33.3%;
            }
        }
    }
}

@media(max-width: 860px) {
    .specialists {
        padding-bottom: 3.375em;

        .section-title {
            margin-bottom: 0.8125em;
            font-size: 2.25em;
        }

        .specialists-slider {

            .specialist__name {
                font-size: 1.25em;
                line-height: 112%;
            }

            .specialist__geo {
                font-size: 1em;
                line-height: 100%;
            }

            .specialist__link {
                padding-top: 1em;
                .btn {
                    font-weight: 600;
                }
            }

            .swiper {
                .swiper-slide {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
    }
}

@media(max-width: 600px) {
    .specialists {
        .section-title {
            margin-bottom: 1.2em;
            max-width: 8em;
            margin-left: auto;
            margin-right: auto;
        }

        .specialists-slider {
            .swiper {
                .swiper-slide {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

@media(max-width: 400px) {
    .specialists {
        .specialists-slider {

            .specialist__description {
                padding-left: 1.375em;
                padding-right: 1.375em;
            }

            .specialist__name {
                text-align: left;
            }

            .specialist__position {
                text-align: left;
                max-width: none;
                margin: auto;
            }

            .specialist__geo {
                text-align: left;
            }

            .specialist__link {
                text-align: left;
                padding-left: 1.375em;
                padding-right: 1.375em;
            }
        }
    }
}