.contacts {
    margin: 0 0 7em 0;

    &__row {
        &-bottom {
            padding: 2.4em 0 0 0;
        }
    }

    &__column {
        &-left {
            flex: 1 0 0;
            padding-right: 3em;
        }
        &-right {
            flex: 0 0 41%;
            max-width: 41%;
        }

        &_inner {
            &-left {
                flex: 1 0 0;
                padding-right: 2em;
            }
            &-right {
                flex: 0 0 50%;
                max-width: 50%;
                padding-left: 2em;
            }
        }
    }
}

@media (max-width: 1250px) {
    .contacts {
        &__column-left &__row-top, &__column-left &__row-bottom {
            display: block;
        }

        &__column_inner-right {
            padding-left: 0;
            padding-top: 2.4em;
            max-width: none;
        }
    }
}

@media (max-width: 980px) {
    .contacts {
        display: block;

        &__column-right {
            padding-top: 2.4em;
            max-width: none;
        }
    }
}