.contacts {
    display: flex;
    flex-wrap: nowrap;
    margin: 6em 0 7em 0;

    &__column {
        &-left {
            flex: 1 0 0;
            padding-right: 3em;
        }
        &-right {
            flex: 0 0 41%;
            max-width: 41%;
        }

        &_inner {
            &-left {
                flex: 1 0 0;
                padding-right: 2em;
            }
            &-right {
                flex: 0 0 50%;
                max-width: 50%;
                padding-left: 2em;
            }
        }
    }

    .socials {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 7.792em 0 0;
        width: 19.77%;

        .worktime {
            width: 257px;
            font-style: normal;
            font-weight: 900;
            font-size: 3.6em;
            line-height: 104%;
            margin: 0 0 2.976em 0;
            color: #373B8E;
        }

        .social {
            position: relative;
            display: flex;
            gap: 1em;
            margin: 0 0 2.896em 0;
        }

        .contact-text {
            font-style: normal;
            font-weight: 700;
            font-size: 2em;
            line-height: 2.304em;
            letter-spacing: 0.01em;
            color: $bgBlue;
        }
    }

    .contacts-row {
        display: flex;
        flex-direction: column;
        width: 22.23%;
        margin-right: 11.104em;

        .contacts__address {
            margin: 0 0 3.296em 0;
            box-sizing: border-box;
        }

        .contacts__address-header {
            font-style: normal;
            font-weight: 700;
            font-size: 2em;
            line-height: 2.304em;
            letter-spacing: 0.01em;
            color: $bgBlue;
        }

        .contacts__phone {
            margin: 0;
            padding-top: 3.904em;
            display: block;
        }

        .phone {
            font-style: normal;
            font-weight: 900;
            font-size: 2.4em;
            line-height: 108%;
            letter-spacing: -0.02em;
            color: #373B8E;

            &-doctors {

            }
        }
    }
}

.contacts-form {
    
    &__doctors {
        margin: -$contentPaddingBottom 0 0 0;
        background-color: $lightGray;
        padding: 0 0 7.3em 0;
    }

    &-map {
        margin-bottom: -$contentPaddingBottom;
    }
}

@media (max-width: 1090px) {
    
}