* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

html, body {
    height: 100%;
}

html {
    width: 100%;
    overflow-x: hidden;
}

* HTML .page {
    height: 100%
}

html>body .page {
    height: auto
}

body {
    width: 100%;
    font-size: $baseFontSize;
    line-height: 137%;
    letter-spacing: 0.01em;
    color: $black;
}

.body__burger-menu-open {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.page {
    height: 100%;
    min-height: 100%;
    margin-bottom: -$footerHeight;
    text-align: left;

    &::after {
        clear: both;
        height: $footerHeight;
        content: "";
        display: block;
    }
}

.container {
    width: 100%;
    max-width: $containerMaxWidth;
    margin: 0 auto;
    padding-left: $containerPaddingLeft;
    padding-right: $containerPaddingRight;
}

.full-screen {
    margin-left: calc((100% - 100vw) / 2) !important;
    margin-right: 0 !important;
    width: 100vw;
}

.section-title {
    width: 100%;
    font-size: 3.4375em;
    line-height: normal;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.03em;
    color: $lightBlue;
}
.row {
    display: flex;
    flex-wrap: nowrap;
}

.align-items-bottom {
    align-items: flex-end;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    border-radius: 10em;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.btn--transparent {
    border: none;
    background: none;
    background-color: none;
}
.btn--medium {
    font-size: 1em;
    line-height: normal;
    padding: 0.72em 2.05em;
}
.btn--large {
    font-size: 1.625em;
    line-height: normal;
    padding: 0.45em 1.25em;
    font-weight: 700;
}
.btn--visible {
    background: $lightBlue;
    border-radius: 2.8em;
    width: 40.35%;
    padding: 0.69em 2.06em 0.69em 2.06em;
}
.btn--yellow {
    border: 0.05em solid $yellow;
}
.btn--white {
    border: 0.05em solid $white;
}
.btn--black {
    border: 0.05em solid $black;
}
.btn--dark-blue {
    border: 0.05em solid $darkBlue;
}
.btn--light-blue {
    border: 0.05em solid $lightBlue;
}
.btn--text-yellow {
    color: $yellow;
}
.btn--text-white {
    color: $white;
}
.btn--text-black {
    color: $black;
}
.btn--text-dark-blue {
    color: $darkBlue;
}
.btn--text-light-blue {
    color: $lightBlue;
}

.bg-light-blue {
    background-color: $lightBlue;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-blue {
    background-color: $bgBlue;
}
.bg-light-gray {
    background-color: $lightGray;
}

.text-yellow {
    color: $yellow;
}
.text-white {
    color: $white;
}
.text-black {
    color: $black;
}
.text-dark-blue {
    color: $darkBlue;
}
.text-light-blue {
    color: $lightBlue;
}
.text-dark-blue-300 {
    color: $bgBlue;
}

.no-border {
    border: 0;
}

.font-weight-700 {
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    border: 1px solid $bgBlueOpacity;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 112%;
    letter-spacing: 0.01em;
    color: $bgBlue;
    background-color: transparent;

    padding: 0.56em 1.25em;

    &-doctors {
        margin: 0 0 1.875em 0;
    }
}

.icon-star {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    color: $gray;
    &_active {
        color: $yellow;
    }
}

.icon-star__list {
    line-height: 0;
    font-size: 0;
    .icon-star {
        margin-right: 8px;
        &:last-child {
            margin-right: 0;
        }
    }
}

iframe, button {
    border: 0;
}

.contact-email {
    display: flex;
    align-items: center;
    img {
        margin-right: 1.008em;
    }
    &__text {
        font-style: normal;
        font-weight: 700;
        font-size: 2em;
        line-height: normal;
        letter-spacing: 0.01em;
        color: $bgBlue;
    }
}

h1 {
    font-size: 3.5em;
    line-height: normal;
    font-weight: 900;
    margin: 0 0 0.3em 0;
}

h2 {
    font-size: 2.6em;
    line-height: normal;
    font-weight: 700;
    margin: 0 0 0.5em 0;
}

h3 {
    font-size: 1.6em;
    line-height: normal;
    font-weight: 700;
    margin: 0 0 0.75em 0;
}

ul {
    margin-bottom: 1.2em;
    padding: 0;
    list-style-position: outside;
}

li {
    position: relative;
    margin: 0 0 0.3em 0;

    &::marker {
        font-size: 120%;
        color: $black;
    }
}

p {
    margin: 0 0 1.2em 0;
}

@media(max-width: 700px) {
    h1 {
        font-size: 2.25em;
    }

    h2 {
        font-size: 1.625em;
    }

    h3 {
        font-size: 1.2em;
    }

    .btn--large {
        font-size: 1em;
        padding-top: 0.65em;
        padding-bottom: 0.65em;
    }

    .page {
        margin-bottom: -$footerHeightMobile;

        &::after {
            height: $footerHeightMobile;
        }
    }

    .section-title {
        font-size: 3em;
    }
    .icon-star {
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .icon-star__list {
        .icon-star {
            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}