.content {
    padding: $contentPaddingTop 0 $contentPaddingBottom 0;

    &__bg {
        background-position: center top;
        background-repeat: no-repeat;
        margin-top: -$headerHeight;
    }

    &__header {
        height: 33.9em;
        overflow: hidden;
        padding: 7em 0 0 0;
        margin-bottom: 17em;

        &-name {
            display: flex;
            flex-direction: column;
            padding-top: 9em;
            color: $lightBlue;

            // margin-bottom: 23.9em;
    
            &__title {
                font-weight: 900;
                font-size: 5.6em;
                margin-bottom: 0.178em;
            }
    
            &__text {
                font-size: 2em;
                line-height: 127%;
                max-width: 36.89%;
            }
        }
    }
}