.content {
    padding: $contentPaddingTop 0 $contentPaddingBottom 0;

    &__bg {
        background-position: center top;
        background-repeat: no-repeat;
        margin-top: -($headerHeight + $contentPaddingTop);
    }

    &__header {
        height: 33.9em;
        overflow: hidden;
        padding: 2.8em 0 0 0;
        margin-bottom: 9em;

        &-name {
            display: flex;
            flex-direction: column;
            padding-top: 9em;
            color: $lightBlue;

            &__text {
                font-size: 2em;
                line-height: 127%;
                max-width: 36.89%;
            }
        }
    }
}

@media (max-width: 980px) {
    .content {
        &__header {
            

            &-name {
                &__text {
                    font-size: 1.6em;
                    line-height: 127%;
                }
            }
        }
    }
}