.feedback {
    &__fields {
        margin-bottom: 1.8em;
    }

    &__header {
        padding: 0;
        font-style: normal;
        font-weight: 900;
        font-size: 2.4em;
        line-height: 2.8em;
        letter-spacing: 0.02em;
        color: #373B8E;
        margin: -0.496em 0 0 0;

        &-doctors {
            margin: 0;
            line-height: 1.2;
            font-size: 3.6em;
        }
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6em;
        line-height: 112%;
        letter-spacing: 0.01em;
        color: $bgBlue;
        margin-bottom: 1.904em;

        &-doctors {
            padding: 1.49em 0 0 0;
            margin: 0;
            line-height: 1;
            font-size: 2em;
        }
    }

    &__inputs {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 1.433em;

        &-left {
            padding-right: 1.587em;
            flex: 1 0 0;
        }

        &-right {
            flex: 0 0 auto;
        }

    }

    .feedback__columns {
        display: flex;
        padding: 8.2em 0 0 0;

        &-left {
            width: 19.23%;
        }

        &-center {
            width: 47.31%;
            padding: 0 0 0 4.2em;
        }

        &-right {
            width: 33.46%;
            padding: 0 0 0 15em;

            .contacts-row {
                display: flex;
                flex-direction: column;
        
                .contacts__address {
                    margin: 0;
                    box-sizing: border-box;
                }
        
                .contacts__address-header {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2em;
                    color: $bgBlue;
                }
        
                .contacts__phone {
                    margin: 0;
                    display: block;
                }
        
                .phone {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 2.4em;
                    line-height: 108%;
                    letter-spacing: -0.02em;
                    color: #373B8E;
                }
            }
        }
    }

}