.footer {
    background-color: #10112C;
    min-height: $footerHeight;

    .container {
        display: flex;
        padding-top: 8.8em;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin: -3em 0 10.4em 0;

        &-img {
            margin-right: 5.299em;
        }

        &-text {
            font-style: normal;
            line-height: normal;
            font-weight: 400;
            font-size: 2em;
            color: #FFFFFF;
            padding-top: 0.5em;
        }
    }

    &__column {
        &-left {
            flex: 1 0 0;
            margin-bottom: 2.7em;
        }
        &-right {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }

    &__menu {
        display: flex;

        &-list {
            list-style-type: none;
            &:nth-child(2) {
                margin: 0 6em 0 6em;
            }
            li {
                margin-bottom: 2.4em;
                a {
                    color: #fff;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2em;
                    letter-spacing: -0.01em;
                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: #fff;
                    }
                }
            }
        }
    }

    &__address {
        margin-bottom: 4.8em;

        &-top, &-bottom {
            font-weight: 400;
            font-size: 2em;
            color: $white;
            line-height: normal;
        }

        &-bottom {
            padding: 0.65em 0 0 0;
        }

        &-bold {
            font-weight: 900;
            color: $white;
        }

        &-info {
            display: flex;
            flex-direction: column;
            width: 65%;
        }

        &-social {
            display: flex;
            justify-content: center;
            align-items:flex-end;
            margin-left: 4.587em;
        }
        &-link {
            margin-right: 2em;
            &:nth-child(1) {
                padding-bottom: 0.6em;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media(max-width: 1250px) {
    .footer {
        &__logo {
            &-text {
                font-size: 1.6em;
            }
        }
        &__address {
            &-top, &-bottom {
                font-size: 1.6em;
            }
        }
        &__menu {
            &-list {
                li {
                    a {
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}

@media(max-width: 1250px) {
    .footer {
        &__logo {
            display: block;
            max-width: 16.2em;
            &-text {
                padding-top: 1em;
            }
        }
    }
}

@media(max-width: 700px) {
    .footer {
        &__column {
            &-right {
                //flex: 0 0 38%;
                //max-width: 33%;
            }
        }
        &-list {
            li {
                a {
                    font-size: 1.4em;
                }
            }
        }
        &__menu {
            display: none;
        }
        &__logo {
            &-img {
                width: 14.6em;
                height: auto;
            }
            &-text {
                font-size: 1.4em;
            }
        }
    }
}