header.header {
    height: $headerHeight;
    z-index: 100;
    position: relative;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger {
        display: none;
        flex: 0 0 auto;
        cursor: pointer;
        color: $darkBlue;
    }

    .logo {
        flex: 0 0 auto;
        .logo__link {
            display: inline-block;

            .logo__img {
                width: 9.375em;
                height: auto;
            }
        }
    }

    .navigation {
        flex: 1 0 0;
        padding: 0 2em 0 2em;

        .nav__menu {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .nav__elem {
            padding: 0 0.9375em 0 0.9375em;
        }

        .nav__link {
            font-size: 1.125em;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
            color: $darkBlue;
            transition: all 0.3s ease-in-out;

            &_active {
                color: $orange !important;
                font-weight: 700;
            }

            &:hover {
                // color: $orange !important;
                text-decoration: underline;
                // font-weight: 700;
            }
        }

        .nav__link-black {
            color: #10112C;
        }
    }

    .phone {
        flex: 0 0 auto;
        color: $darkBlue;

        &__icon {
            color: $darkBlue;
            display: none;
        }

        .btn {
            font-size: 1.127em;
            font-weight: 300;
            padding: 0.62em 1.5em 0.6em;
            line-height: normal;

            &:hover {
                color: $yellow !important;
                border-color: $yellow !important;
            }
        }

        .btn--text-white {
            color: $darkBlue;
        }

        .btn--white {
            border-color: $darkBlue;
        }
    }
}

@media(max-width: 1280px) {
    header.header {
        .navigation {
            .nav__elem {
                padding-left: 0.7em;
                padding-right: 0.7em;
            }

            .nav__link {
                font-size: 1em;
                line-height: normal;
            }
        }
    }
}

@media(max-width: 780px) {
    header.header {
        .burger {
            display: block;
        }

        .navigation {
            display: none;
        }

        .logo {
            flex: 1 0 0;
            text-align: center;
        }

        .phone {
            &__icon {
                display: block;
            }

            .btn {
                line-height: 0;
                border: 0;
                font-size: 0;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}