.question-answer {
    &__name {
        font-weight: 900;
        font-size: 5.6em;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.01em;
        color: $lightBlue;
    }

    &__list {
        list-style-type: none;
        padding: 7.5em 0 0 0;

        &-iner {
            font-weight: 700;
            font-size: 2.2em;
            line-height: 142%;
            letter-spacing: 0.02em;
            color: $bgBlue;
            display: flex;
            align-items: center;
            padding: 0 0 1.64em 0;

            &:last-child {
                padding: 0 0 0 0;
            }

            &__left {
                border: 0.5em solid $yellow;
                border-radius: 50%;
                width: 1.09em;
                height: 1.09em;
            }

            &__right {
                padding: 0 0 0 0.95em;

                &-question {
                    padding: 0 0 0 1.77em;
                }

                &-ansver {
                    font-size: 0.73em;
                    line-height: 142%;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: $darkBlue;
                    padding: 1.187em 0 0 0;
                }
            }
        }
    }
}