$yellow: #ffa73f;
$white: #fff;
$darkBlue: #10112c;
$lightGray: #f1f1f1;
$black: #000;
$orange: #EB8629;
$lightBlue: #373B8E;
$bgBlue: #101347;
$footerHeight: 42em;
$hederHeight: 8em;
$contentPaddingBottom: 6.6em;

