$yellow: #ffa73f;
$white: #fff;
$darkBlue: #10112c;
$lightGray: #f1f1f1;
$black: #000;
$orange: #EB8629;
$lightBlue: #373B8E;
$bgBlue: #101347;
$bgBlueOpacity: #8789a3;
$gray: #c0c0c0;
$lightBlue200: #dfe0f8;
$lightBlue100: #EDF1FE;
$containerMaxWidth: 132em;
$footerHeight: 42em;
$footerHeightMobile: 40em;
$headerHeight: 8em;
$contentPaddingTop: 4.2em;
$contentPaddingBottom: 6.6em;
$containerPaddingLeft: 1.5em;
$containerPaddingRight: 1.5em;
